:root{
    /*colors*/
    --black: #2b162f;
    --white: #f8eedf;
    --red1: #c41d1d;
    --red2:#8E1616;
    --red3:#521818;
    
    /*sizing*/
    --sm: 8px;
    --md: 16px;
    --lg: 20px;
    --xl: 30px;
    --xxl: 40px;
    --xxxl: 90px;

    /*fonts*/
    --google: "Google Sans Code";
    --courier: "Courier New";
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: var(--courier);
}
body{
    background-color: var(--white);
    font-weight: bold;
}
p{
    font-weight: normal;
    font-family: var(--courier);
}

/*navbar styling*/
a{
    color: var(--red1);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: var(--red1);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
li{
    float: left;
    font-size: var(--lg);
}
#navBar{
    background-color: var(--red1);
    position: fixed;
    list-style-type: none;
    padding: var(--lg);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    gap: var(--lg);
    justify-content: right;
}
#navLink{
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    opacity: 80%;
}
#navLink::after{
    content: "";
    position:absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--white);
    background-size: 2px 2px;
    background-repeat: repeat-x;
    transition: width 0.3s ease;
}
#navLink:hover::after{
    width: 100%;
}
#navLink:hover{
    opacity: 100%
}