:root{
    /*colors*/
    --black: #2b162f;
    --white: #f8eedf;
    --red1: #c41d1d;
    --red2:#8E1616;
    --red3:#521818;
    
    /*sizing*/
    --sm: 8px;
    --md: 16px;
    --lg: 20px;
    --xl: 30px;
    --xxl: 40px;
    --xxxl: 90px;

    /*fonts*/
    --google: "Google Sans Code";
    --courier: "Courier New";
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: var(--courier);
}
body{
    background-color: var(--white);
    font-weight: bold;
    color: var(--black);
}
p{
    font-weight: normal;
    font-family: var(--courier);
}
h1{
    font-size: 75px;
}

/*navbar styling*/
a{
    color: var(--red1);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
a:hover{
    color: var(--red1);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
#navBarContainer{  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
#navBar{
    background-color: var(--red1);
    list-style-type: none;
    padding: var(--lg);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    gap: var(--lg);
    justify-content: right;
    text-align: center;
    align-items: center;
}
#navLink{
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    opacity: 80%;
    font-size: var(--lg);
}
#navLink::after{
    content: "";
    position:absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--white);
    background-size: 2px 2px;
    background-repeat: repeat-x;
    transition: width 0.3s ease, opacity 0.3s ease;
}
#navLink:hover::after{
    width: 100%;
}
#navLink:hover{
    opacity: 100%;
}
#navLogo{
    height: var(--xxl);
    opacity: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--md);
    z-index: 11; 
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease;
}

#navLogo:hover{
    cursor: pointer;
    opacity: 100%;
    transform: translateY(calc(-50% - 2px)) scale(1.03);
}
#background{
    margin-top: 85px;
    width: 100%;
    position: relative;
    opacity: 50%;
    z-index: -3;
    background-color: rgba(255, 255, 255, 0.3);
}

/*home page*/
#home{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 42.5px;
    text-align: center;
    padding: 0 var(--md);
    min-width: clamp(90%, 90%, 100%);
}
#home h1{
    font-size: clamp(2rem, 5vw, 75px);
    line-height: 1.2;
    margin-bottom: var(--md);
    margin-left: auto;
    margin-right: auto;
    max-width: 60%
}
#home p{
    font-size: clamp(1rem, 2.5vw, 1.25 rem);
    margin: 0 auto var(--lg);
    line-height: 1.6;
}
#register{
    text-decoration: none;
    display: inline-block;
    margin-top: var(--md);
    border: none;
    border-radius: var(--sm);
    padding: var(--lg);
    background-color: var(--red1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), inset 0 0 0 0 var(--red1);
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), box-shadow 0.3s ease;
}
#register:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), inset 165px 0 0 0 var(--white);
    color: var(--red1);
    border-color: var(--white);
    transform: translateY(-5px) scale(1.03);
}
#downArrow{
    display: flex;
    position: absolute;
    text-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
#downArrow:hover{
    cursor: pointer;
    transform: translateY(5px);
}
#logisticsTitle{
    scroll-margin-top: 85px;
}
    